<p>Has "User Experience" on the web gone too far? We think so; and if you're here, maybe you do as well.</p>
<p>On anti.social, you'll find that every profile is set to 'private' by default.</p>
<p>User pages can be found if that user's id number is known.</p>