<%= render "shared/banner" %>

<p>Recent posts: <span class="jp" style="display: none"><br>エ ン タ メ ･ カ ル チ ャ ー </span></p> 
<ul><%= render @recent_posts %></ul>
	--------------------------
<p>Most points: <span class="jp" style="display: none"><br>旬 の ま と め を チ ェ ッ ク </span></p> 
<ol><%= render @most_points %></ol>
	--------------------------
<p>Top posters: <span class="jp" style="display: none"><br>暮 ら し ･ ア イ デ ア </span></p> 
<ol><%= render @top_posters %></ol>