<p>Top posters:</p> 
<ol><%= render @top_posters %></ol>
-------------------------------------
<p>Most points:</p> 
<ol><%= render @most_points %></ol>
-------------------------------------
<p>Recent posts:</p> 
<ul><%= render @recent_posts %></ul>