<%= render "shared/banner" %><br>

<p>Recent posts:</p> 
<ul><%= render @recent_posts %></ul>
-------------------------------------
<p>Most points:</p> 
<ol><%= render @most_points %></ol>
-------------------------------------
<p>Top posters:</p> 
<ol><%= render @top_posters %></ol>