<br><strong><%= link_to "KEEP OUR NET FREE", "https://www.battleforthenet.com" %><br><br></strong>

<p>Recent posts:</p> 
<ul><%= render @recent_posts %></ul>
-------------------------------------
<p>Most points:</p> 
<ol><%= render @most_points %></ol>
-------------------------------------
<p>Top posters:</p> 
<ol><%= render @top_posters %></ol>