<p>
<strong>ID:</strong> <%= @user.id %><br>
<strong>Name:</strong> <%= @user.name %><br>
<strong>Description:</strong> <%= @user.description %>
</p>

<small><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></small>