// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NIGHT
.night {
	background-color: #000000;
	 color: #FFFFFF;
	input, textarea {
	  background-color: #000000;
	  color: #FFFFFF;
	}
	a {
	  color: #32CD32;
	}
	a:visited {
	  color: #008000;
	 }
}

// MSDOS
.msdos {
  background-color: #0000AA;
	font-family: 'VT323', monospace;
	font-stretch: extra-expanded;
	font-size: 20px;
	margin: 10px 10px 0 10px;
	color: #AAAAAA;
	border-color: white;
	border-style: double;  
	border-width: 7px;
	margin: 10px;
	padding: 10px;
	h1, h2, h3, h4 {
		color: #0000AA;
    padding: 3px 5px 3px 5px;
    background-color: #AAAAAA;
	}

  a {
    color: #FFFFFF;
    cursor: none;
    font-stretch: expanded;
    letter-spacing: 2px;
  	text-decoration: none;
  	padding: 3px 0px 3px 0px;

  }
  a:hover, a:active, a.focus, .info {
  	color: red;
  	background-color: yellow;
  	text-decoration: none;
  }
  ul {
  	list-style: none;
  }
  input, textarea {
  	font-weight: bolder;	
  	font-family: 'VT323', monospace;
		font-stretch: extra-expanded;
		font-size: 18px;
  	background-color: #AAAAAA;
  	box-shadow: 5px 5px;
  	border: none;
  }
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: black;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: black;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: black;
	}
	/* small screen */
	@media screen and (max-width: 350px) {
		ul, ol {
			padding-left: 20px !important;
			font-size: 16px;
		}
		ul {
			li {
				margin-left: -20px;
			}
		}
	}
	/* large screen */	
	@media screen and (min-width: 767px) {
		h1, h2, h3, h4 {
			width: 45%;
		}
	}
}



// VAPORWAVE
.vapor {
	background-color: #FD839C;
	color: #81FFFE;
	font-weight: normal;
  font-family: Helvetica Neue, arial, sans-serif;
  letter-spacing: 5px;
  span.jp {
		font-weight: bolder;
		display: inline !important;
  }
  h1, h2, h3, h4 {
		font-family: Helvetica Neue, arial, sans-serif;
		font-stretch: extra-expanded;
		font-weight: bold;
		letter-spacing: 10px;
	}
	input, textarea {
	  background-color: #6DFDB9;
	  color: #8795E8;
		font-weight: bolder;
	  font-family: Helvetica Neue, arial, sans-serif;
	  letter-spacing: 5px;
	}
	a {
	  color: #03CADF;
	  font-size: 30px;
  	font-family: Brush Script MT;
  	font-weight: bolder;
  	padding: 0 5px 0 5px;
	  text-decoration: none;
	}
  a:hover, a:active, a.focus {
  	font-family: Brush Script MT;
  	color: #FD839C;
  	background-color: #03CADF;
  }
  ol {
  	margin-left: 30px;
  }
   ul {
  	list-style: none;
  }

}