// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NIGHT
.night {
	background-color: #000000;
	 color: #FFFFFF;
	input, textarea {
	  background-color: #000000;
	  color: #FFFFFF;
	}
	a {
	  color: #32CD32;
	}
	a:visited {
	  color: #008000;
	 }
}

// MSDOS
.msdos {
  background-color: #0000AA;
	font-family: 'VT323', monospace;
	font-stretch: extra-expanded;
	margin: 10px 10px 0 10px;
	color: #AAAAAA;

  a {
    color: #FFFFFF;
    cursor: none;
    font-stretch: expanded;
    letter-spacing: 2px;
  	text-decoration: none;

  }
  a:hover, a:active, a.focus {
  	color: red;
  	background-color: yellow;
  	text-decoration: none;
  }

  input, textarea {
  	font-weight: bolder;
  	font-stretch: extra-expanded;
  	padding-left: 5px;
  	background-color: #AAAAAA;
  	box-shadow: 5px 5px;
  	border: none;
  }
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: black;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: black;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: black;
	}
}

// VAPORWAVE
.vapor {
	background-color: #b3deff;
	color: #FF6AD5;
	font-weight: normal;
  font-family: Helvetica Neue, arial, sans-serif;
  letter-spacing: 5px;
  h1, h2, h3, h4 {
		font-family: Helvetica Neue, arial, sans-serif;
		font-stretch: extra-expanded;
		font-weight: bold;
		letter-spacing: 10px;
	}
	input, textarea {
	  background-color: #66FFC4;
	  color: #FF6AD5;
		font-weight: bolder;
	  font-family: Helvetica Neue, arial, sans-serif;
	  letter-spacing: 5px;
	}
	a {
	  color: #8795E8;
	  font-size: 24px;
  	font-family: Brush Script MT;

  	padding: 0 5px 0 5px;
	  text-decoration: none;
	}
  a:visited {
  	color: #AD8CFF;
  }
  a:hover, a:active, a.focus {
  	font-family: Brush Script MT;
  	text-decoration: none;
  	font-size: 24px;
  	color: #94D0FF;
  	padding: 0 5px 0 5px;
  	background-color: #C774E8;
  }
  ol {
  	margin-left: 30px;
  }

}