<div>
	Home: http://www.anti.social<br>
	Users: http://www.anti.social/u/USER_ID_NUMBER<br>
	<% if !user_signed_in? %>
		Sign In: http://www.anti.social/u/sign_in<br>
	<% end %>
	About: http://www.anti.social/about<br>
</div>