<div>
	<%= link_to "home", root_path %><br>
	<% if user_signed_in? %>

		<% if current_user.admin? %>
			<%= link_to "admin", admin_path %><br>
		<% end %>

		<%= link_to "sign out", destroy_user_session_path, :method => :delete %><br>

	<% else %>
		<%= link_to "sign in", new_user_session_path %><br>
	<% end %>
	
	users: https://diogn.es/u/"user_number"<br>
	<small>(if you know the number and the profile isn't private)</small><br>
</div>